#my_modal_3 {
    display: flex;
    justify-content: end;
    align-items: start;
    top: 10px;
    right: 20px;
    border: none;
    width: auto; /* Adjust as needed */
    height: auto; /* Adjust as needed */
  }
  
  #my_modal_3 .modal-box{
      margin: 0;
      padding: 1em;
  }
  